/*
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
*/


*{
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}

h1,h2{
    font-family: 'Montserrat', sans-serif;
}
h4,h5,h6,p{
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6,
p, section, .footer{
    width: 100%;
    float: left;
}

section{
    padding: 60px 0;
}

.columns{
    width: 100%;
}

.ratio{
    width: 100%;
    float: left;
    position: relative;
    height: 0;
}
.ratio img,
.ratio iframe,
.ratio video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.ratio-1{padding-top: 100%;}
.ratio-75{padding-top: 75%;}
.ratio-16{padding-top: 56.25%;}
.promo-ratio{padding-top: 40.22%;}

.master,
section{
    width: 100%;
    float: left;
    position: relative;
}

.master{
    padding-top: 100px;
}

.navbar{
    width: 100%;
    height: 100px;
    background: #fff;
    border-bottom: 1px solid #dedede;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 0;
}

.logo{
    width: 160px;
    height: 60px;
    float: left;
    padding-top: 3px;
}
.logo-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu{
    width: calc(100% - 460px);
    float: left;
    padding-left: 20px;
    margin: 0;
}
.menu li{
    display: inline-block;
}
.menu li a{
    display: block;
    padding: 25px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.src{
    width: 100%;
    max-width: 300px;
    float: left;
    position: relative;
    margin-top: 10px;
}
.src input{
    width: 100%;
    height: 50px;
    background: #f4f4f4;
    border: 1px solid #dedede;
    color: #777;
    font-size: 14px;
    padding: 0 70px 0 30px;
}
.src button{
    width: 50px;
    height: 50px;
    font-size: 24px;
    color: #777;
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}

section.hero{
    padding: 0;
}

.hero .item{
    height: 640px;
    width: 100%;
    position: relative;
}

.hero .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.hero .item .column{
    height: 640px;
    position: relative;
}

.big-text{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.big-text h6{
    font-size: 14px;
    font-weight: 600;
}
.big-text h6 a{
    color: #1770C0;
}
.big-text h1,
.big-text h2,
.big-text h3{
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
}
.big-text h1 a,
.big-text h2 a,
.big-text h3 a{
    color: #333;
}
.big-text h1{
    line-height: 120%;
}
.big-text p{
    padding-left: 30px;
    border-left: 3px solid #1770C0;
    font-size: 14px;
    line-height: 200%;
    margin-bottom: 20px;
}

.cta{
    width: 180px;
    float: left;
    height: 45px;
    text-align: center;
    background: #fff;
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #1770C0;
    padding: 13px 0;
}

.hero .owl-prev,
.hero .owl-next{
    width: 50px;
    height: 50px;
    overflow: hidden;
    text-indent: -200px;
    position: absolute;
    top: calc(50% - 25px);
}

.hero .owl-prev{
    left: 40px;
    background: url(../images/hero-left.png) no-repeat center;
    background-size: contain;
}

.hero .owl-next{
    right: 40px;
    background: url(../images/hero-right.png) no-repeat center;
    background-size: contain;
}

.title{
    width: 100%;
    float: left;
    border-left: 47px solid #1770C0;
    padding-left: 15px;
}
.title h3{
    margin: -3px 0 3px !important;
    font-size: 24px !important;
    font-weight: 700;
    color: #333;
    line-height: 100%;
}
.title p{
    font-size: 11px;
    color: #777;
    font-weight: 300;
}

.bt-more{
    float: right;
    font-size: 14px;
    font-weight: 600;
    color: #1770C0;
    padding-top: 15px;
}

.news-grid{
    width: 100%;
    float: left;
}
.news-grid-item{
    width: calc((100% - 40px) / 3);
    margin-right: 20px;
    float: left;
    position: relative;
}
.news-grid-item:nth-child(3){
    margin-right: 0;
}
.news-grid-item:nth-child(4){
    width: 100%;
    margin-right: 0;
    margin-top: 20px;
}
.news-grid-item .text{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 30px 20px;
    text-align: center;
    z-index: 2;
}
.news-grid-item .text h6{
    font-size: 12px;
    color: #56ACFA;
    margin-bottom: 10px;
    font-weight: 700;
}
.news-grid-item .text h6 a{
    color: #1770C0;
}
.news-grid-item .text h3{
    font-size: 22px;
    font-weight: 700;
}
.news-grid-item .text h3 a{
    color: #fff;
}
.news-grid-item::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/shadow-text.png) repeat-x center bottom;
    z-index: 1;
}
.news-grid-item:nth-child(4) .big-text{
    width: 50%;
    text-align: left;
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 40px;
    z-index: 2;
}
.news-grid-item:nth-child(4) .big-text h6{
    font-size: 14px;
}
.news-grid-item:nth-child(4) .big-text h3{
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 20px;
}
.news-grid-item:nth-child(4) .big-text h3 a,
.news-grid-item:nth-child(4) .big-text p{
    color: #fff;
}

section.quote-1{
    height: 400px;
}

section.quote-1 h2{
    font-size: 48px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 20px;
}
section.quote-1 .column{
    height: 400px;
    position: relative;
    margin-top: -60px;
}

section.quote-1 .text{
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.product-box{
    border: 1px solid #dedede;
    margin-bottom: 20px;
    height: calc((100% - 20px) / 2);
}
.product-box .ratio img{
    object-fit: contain;
    width: 75%;
    height: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.product-box .text{
    width: 100%;
    padding: 20px;
}
.product-box .text h3{
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product-box .text h3 a{
    color: #333;
}
.product-box .text span{
    display: block;
    font-size: 14px;
    color: #333;
}

.column.is-6 .product-box{
    height: 100%;
}

.subscribe{
    padding: 0;
    margin-bottom: 60px;
}

.subs{
    width: 100%;
    height: 360px;
    background: url(../images/hkm-bank/subscribe-bg.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}

.subscribe .text{
    width: 30%;
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    z-index: 2;
}

.subscribe .title{
    margin-bottom: 20px;
}
.subscribe .title h3,
.subscribe .title p{
    color: #fff;
}

.subscribe form{
    width: 100%;
    position: relative;
    float: left;
    margin-bottom: 20px;
}
.subscribe form input{
    width: 100%;
    height: 56px;
    background: #fff;
    padding: 0 30px;
    font-size: 14px;
    color: #777;
    border: none;
}
.subscribe form button{
    width: 100px;
    height: 40px;
    background: #1770C0;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    position: absolute;
    right: 8px;
    top: 8px;
}
.subscribe p{
    font-size: 14px;
    color: #fff;
    line-height: 200%;
    font-weight: 300;
}
.subscribe .title p{
    font-size: 11px;
    line-height: normal;
}

.subs::before{
    content: "";
    width: 70%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../images/h-shadow.png) repeat-y top right;
}

.footer{
    background: #f4f4f4;
}

.foot-title{
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.sitemap{
    width: 100%;
    float: left;
    column-count: 2;
}
.sitemap li{
}
.sitemap li a{
    font-size: 14px;
    color: #555;
    padding-bottom: 10px;
    display: block;
}

.footer p{
    font-size: 14px;
    color: #555;
    padding-bottom: 10px;
    line-height: 200%;
    padding-right: 50px;
}

.foot-logo{
    margin-bottom: 20px;
    display: block;
}

.footer p.copy{
    padding-right: 0;
    padding: 20px 0;
    border-top: 1px solid #dedede;
    margin-top: 30px;
}

.footer{
    padding-bottom: 0;
}

.footer .columns{
    margin-bottom: 0;
}
.footer .column.is-12{
    padding-bottom: 0;
}

.socmed{
    width: 100%;
    float: left;
}

.socmed li{
    float: left;
    margin-right: 10px;
}
.socmed li a{
    display: block;
    width: 40px;
    height: 40px;
    background: #fff;
    color: #555;
    font-size: 18px;
    text-align: center;
    padding-top: 8px;
}

.partners figure{
    background: #f4f4f4;
}

.partners figure img{
    width: 70%;
    height: 70%;
    object-fit: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.about figure{
    width: 100%;
    float: left;
    margin: 0;
}
.about figure img{
    width: 100%;
    display: block;
}

.about h3{
    font-size: 24px;
    font-weight: 700;
    color: #333;
    font-family: 'Poppins', sans-serif;
}
.about p,
.about li{
    font-size: 14px;
    color: #333;
    line-height: 200%;
    font-family: 'Poppins', sans-serif;
}

.about .text h3{
    margin-bottom: 10px;
}
.about .ico{
    margin-bottom: 10px;
}
.about .text ol{
    padding-left: 15px;
}

.big-box .big-text{
    left: 40px;
    width: 50%;
}
.big-box .big-text h1{
    font-size: 36px;
}
.big-box .big-text h1 a,
.big-box .big-text p{
    color: #fff;
}

.submenu{
    width: 100%;
    float: left;
    text-align: center;
    background: #f4f4f4;
}
.submenu li{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
}
.submenu li a{
    display: block;
    padding: 13px 20px;
    color: #777;
}

.news-slider .owl-pagination{
    width: 8px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.news-slider .owl-pagination .owl-page{
    float: left;
    margin-bottom: 8px;
}
.news-slider .owl-pagination .owl-page span{
    display: block;
    width: 8px;
    height: 8px;
    background: rgba(255,255,255,0.3);
}
.news-slider .owl-pagination .owl-page.active span{
    height: 80px;
    background: #fff;
}

section.news-hero{
    padding-bottom: 0;
}

section.news-list .container{
    border-bottom: 1px solid #dedede;
}

.news-list h6{
    font-size: 14px;
    font-weight: 700;
    color: #56ACFA;
    margin-bottom: 20px;
}
.news-list h6 a{
    color: #56ACFA;
}
.news-list h3{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}
.news-list h3 a{
    color: #333;
}

.pagination{
    width: 100%;
    float: left;
    display: block;
    margin-bottom: 60px;
    margin-top: 30px;
}
.pagination ul{
    float: right;
    text-align: right;
}
.pagination ul li{
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
}
.pagination ul li a{
    display: block;
    width: 40px;
    height: 40px;
    color: #333;
    text-align: center;
    border: 1px solid #dedede;
    padding-top: 8px;
}
.pagination ul li.active a{
    border-color: #1770C0;
    background: #1770C0;
    color: #fff;
}
.pagination ul li:last-child a,
.pagination ul li:first-child a{
    border: none;
}

.breadcrumb{
    background: #f4f4f4;
    margin-top: 10px;
    white-space: nowrap;
}
.breadcrumb li a{
    display: block;
    font-size: 14px;
    padding: 5px 10px;
    color: #333;
}
.breadcrumb li:last-child a{
    font-weight: 700;
}

.article-head{
    margin-bottom: 30px;
}

.article-head h6{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
}
.article-head h6 a{
    color: #56ACFA;
}
.article-head h1{
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 800;
}
.article-head span{
    font-size: 14px;
    color: #777;
    display: block;
}
.article figure{
    position: relative;
    width: 100%;
    margin: 0 0 20px;
}
.article figure .caption{
    padding: 10px 20px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.article figure img{
    width: 100%;
    display: block;
}

.article-ct{
    margin-bottom: 30px;
    width: 100%;
    float: left;
}
.article-ct p{
    font-size: 14px;
    line-height: 200%;
    color: #333;
}

.socmed.share{
    border: 1px solid #dedede;
    padding: 10px 30px;
}
.socmed.share li:first-child{
    font-size: 14px;
    padding-top: 10px;
    font-weight: 700;
    margin-right: 20px;
}
.socmed.share li a{
    background: #f4f4f4;
}

.article{
    padding-bottom: 0;
}

.info{
    width: 100%;
    float: left;
    margin-bottom: 40px;
}
.info .ico{
    font-size: 42px;
    width: 50px;
    float: left;
    line-height: 100%;
    text-align: center;
}
.info .text{
    width: calc(100% - 50px);
    float: left;
    padding-left: 30px;
}
.info .text h4{
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    font-weight: 700;
}
.info .text p{
    font-size: 14px;
    color: #333;
    line-height: 200%;
}

.contact form{
    width: 100%;
    float: left;
}
.contact form h3{
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}
.contact form .input-group{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.contact form .input-group input{
    width: calc((100% - 20px) / 2);
    float: left;
    margin-right: 20px;
    height: 56px;
}
.contact form .input-group input:nth-child(even){
    margin-right: 0;
}
.contact form .input-group input,
.contact form .input-group textarea{
    border: 1px solid #dedede;
    font-size: 14px;
    color: #555;
    padding: 20px 30px;
    background: #fff;
}
.contact form .input-group textarea{
    height: 140px;
    width: 100%;
}
.contact form .input-group button{
    padding: 12px 40px;
    background: #1770C0;
    color: #fff;
    border: none;
    font-size: 14px;
    font-weight: 600;
}

section.big-map{
    padding: 0;
    height: 420px;
}
section.big-map iframe{
    width: 100%;
    height: 100%;
}

.prod-cat{
    width: 100%;
    float: left;
    border: 1px solid #dedede;
    padding: 20px;
    margin-bottom: 20px;
}

.side-title{
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}

.cat{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.cat li{
    width: 100%;
    float: left;
    position: relative;
    padding-left: 25px;
}
.cat li::before{
    content: "";
    width: 8px;
    height: 8px;
    background: #c4c4c4;
    position: absolute;
    left: 0;
    top: 7px;
}
.cat li a{
    padding-bottom: 15px;
    font-size: 14px;
    display: block;
    color: #333;
}

.prod-cat form{
    width: calc(100% - -40px);
    float: left;
    border-top: 1px solid #dedede;
    margin-left: -20px;
    padding: 20px;
}
.prod-cat form select{
    width: 100%;
    height: 48px;
    border: 1px solid #dedede;
    font-size: 14px;
    color: #333;
    padding: 0 60px 0 20px;
    appearance: none;
    background: url(../images/select-dropdown.png) no-repeat right center;
    margin-bottom: 20px;
}
.prod-cat form button{
    float: right;
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: #1770C0;
    padding: 10px;
    cursor: pointer;
}

.side-post,
.side-post ul,
.side-post ul li{
    width: 100%;
    float: left;
}

.side-post ul li{
    margin-bottom: 20px;
}

.side-post ul li .pic{
    width: 82px;
    float: left;
}
.side-post ul li .text{
    padding-left: 20px;
    width: calc(100% - 82px);
    float: left;
    padding-top: 20px;
}
.side-post ul li .text h3{
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}
.side-post ul li .text h3 a{
    color: #333;
}
.side-post ul li .text span{
    display: block;
    font-size: 12px;
    color: #333;
}

.side-post ul li .pic .ratio{
    background: #f4f4f4;
}

.side-post ul li .pic .ratio img{
    object-fit: contain;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.product-hero .owl-prev,
.product-hero .owl-next{
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    overflow: hidden;
    text-indent: -200px;
}
.product-hero .owl-prev{
    left: 20px;
    background: url(../images/hero-left.png) no-repeat center;
    background-size: contain;
}
.product-hero .owl-next{
    right: 20px;
    background: url(../images/hero-right.png) no-repeat center;
    background-size: contain;
}
.product-hero .text{
    position: absolute;
    width: 30%;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.product-hero .text h2{
    font-size: 36px;
    font-weight: 800;
    line-height: 100%;
    color: #333;
    margin-bottom: 20px;
}
.product-hero .text p{
    margin-bottom: 20px;
    font-weight: 700;
}
.product-hero .text p strong{
    font-size: 24px;
    color: #C50F0F;
}
.product-hero .text p span{
    color: #C50F0F;
}

.product-hero{
    margin-bottom: 40px;
}

.product-navbar{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.view-bt{
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
    color: #333;
    background: #fff;
    border: 1px solid #dedede;
    font-size: 18px;
    cursor: pointer;
}
.view-bt:hover{
    color: #fff;
    background: #1770C0;
}

.sorting{
    width: 200px;
    float: left;
    padding: 0 10px;
    background: #fff url(../images/select-dropdown.png) no-repeat right center;
    background-size: contain;
    border: 1px solid #dedede;
    height: 40px;
    appearance: none;
    margin-right: 10px;
}
.product-navbar p{
    width: auto;
    font-size: 14px;
    padding-top: 9px;
}

.product-navbar .pagination{
    width: auto;
    float: right;
    margin: 0;
}

.prod-list{
    width: 100%;
    float: left;
}
.prod-item{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #dedede;
    padding: 20px;
    text-align: center;
    position: relative;
}

.grid-3 .prod-item{
    width: calc((100% - 40px) / 3);
}
.grid-3 .prod-item:nth-child(3n){
    margin-right: 0;
}

.grid-4 .prod-item{
    width: calc((100% - 60px) / 4);
}
.grid-4 .prod-item:nth-child(4n){
    margin-right: 0;
}

.prod-item figure{
    margin-bottom: 60px;
}
.prod-item figure img{
    object-fit: contain;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.prod-item .text{
    width: 100%;
    height: 90px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;
}
.prod-item .text h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}
.prod-item .text h3 a{
    color: #333;
}
.prod-item .text span{
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}
.prod-item .text .prod-cta{
    opacity: 0;
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: #1770C0;
}
.prod-item:hover .text .prod-cta{
    opacity: 1;
}
.prod-item:hover .text{
    height: 120px;
    background: #fff;
}
.prod-item:hover figure img{
    top: 40%;
    width: 70%;
    height: 70%;
}
.prod-item:hover{
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
}

section.product{
    padding-bottom: 0;
}


.prod-list.list-view .prod-item{
    width: 100%;
}
.prod-list.list-view .prod-item .pic{
    width: 200px;
    float: left;
}
.prod-list.list-view .prod-item .pic figure{
    margin-bottom: 0;
}
.prod-list.list-view .prod-item .text{
    width: calc(100% - 200px);
    padding-left: 20px;
    text-align: left;
    float: left;
    position: relative;
    left: auto;
    bottom: auto;
    padding-top: 30px;
}
.prod-list.list-view .prod-item .text .prod-cta{
    opacity: 1;
}

.product-ct .text{
    padding-bottom: 80px;
}
.product-ct .text h1{
    font-size: 36px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}
.product-ct .text h3{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #1770C0;
    margin-bottom: 20px;
}
.product-ct .text p{
    font-size: 14px;
    color: #333;
    line-height: 200%;
    margin-bottom: 20px;
}

.buy-bt{
    display: inline-block;
    padding: 12px 50px;
    background: #1770C0;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.product-ct .share.socmed{
    border: none;
    border-top: 1px solid #dedede;
    padding-left: 0;
}

.tab-bt{
    width: 100%;
    float: left;
    text-align: center;
    border-top: 1px solid #dedede;
    margin-top: 30px;
}
.tab-bt li{
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}
.tab-bt li a{
    display: block;
    padding: 20px;
    color: #333;
    border-top: 3px solid #fff;
}
.tab-bt li.active a{
    border-color: #1770C0;
    color: #1770C0;
}
.tab-bt li a:hover{
    color: #1770C0;
}

.tab-ct{
    padding-top: 40px;
    padding-bottom: 60px;
    border-bottom: 1px solid #dedede;
    display: none;
    width: 100%;
    float: left;
}
.tab-ct.show{
    display: block;
}

.tab-ct p{
    font-size: 14px;
    color: #333;
    line-height: 200%;
    margin-bottom: 20px;
}

.tab-ct table{
    width: 100%;
    border: 1px solid #dedede;
}
.tab-ct table th,
.tab-ct table td{
    border: 1px solid #dedede;
    padding: 10px 20px;
}

.prod-slider{
    border: 1px solid #dedede;
    margin-bottom: 20px;
}
.prod-slider .item figure img{
    object-fit: contain;
}

.prod-slider .owl-prev,
.prod-slider .owl-next{
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    overflow: hidden;
    text-indent: -200px;
}
.prod-slider .owl-prev{
    left: 20px;
    background: url(../images/hero-left.png) no-repeat center;
    background-size: contain;
}
.prod-slider .owl-next{
    right: 20px;
    background: url(../images/hero-right.png) no-repeat center;
    background-size: contain;
}

.prod-thumb .item{
    width: 100%;
    float: left;
    padding: 0 10px;
}
.prod-thumb .item figure{
    border: 1px solid #dedede;
}

.burger{
    width: 60px;
    height: 60px;
    text-align: center;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    padding-top: 15px;
    color: #333;
}

.mob-nav{
    width: 80%;
    height: calc(100% - 60px);
    position: fixed;
    top: 60px;
    right: -100%;
    z-index: 9;
    background: #fff;
    border-left: 1px solid #dedede;
    padding: 20px;
}
.mob-nav.show{
    right: 0;
}
.mob-nav .src{
    margin-bottom: 30px;
}
.mob-menu,
.mob-menu li{
    width: 100%;
    float: left;
}
.mob-menu li a{
    display: block;
    padding: 15px 0;
    font-size: 14px;
    color: #333;
    font-weight: 700;
}

.columns.rtl{
    flex-direction: row-reverse;
}

.product-navbar .filter-bt{
    width: 40px;
    height: 40px;
    border: 1px solid #dedede;
    background: #fff;
    float: left;
    font-size: 14px;
    text-align: center;
    padding: 0;
    display: none;
}
.product-navbar .filter-bt i{
    font-size: 16px;
}

.sidebar .close-bt{
    width: 60px;
    height: calc(100vh - 60px);
    position: fixed;
    top: 60px;
    right: -60px;
    text-align: center;
    background: rgba(0,0,0,0.5);
    padding-top: 20px;
    color: #fff;
    font-size: 18px;
}
.sidebar .close-bt.show{
    right: 0;
}

.prod-cat .divider{
    width: calc(100% - -40px);
    height: 1px;
    float: left;
    background: #dedede;
    margin-bottom: 20px;
    margin-left: -20px;
}

@media only screen and (max-width:812px){
    .master{
        padding-top: 60px;
        overflow-x: hidden;
    }
    /*.container{
        padding-left: 20px;
        padding-right: 20px;
    }*/

    .navbar{
        height: 60px;
        padding: 10px 0;
    }

    .logo{
        height: 40px;
        width: 120px;
        padding-top: 0;
        margin-top: -3px;
    }

    .burger{
        display: block;
    }
    .menu,
    .src{
        display: none;
    }
    .mob.src{
        display: block;
    }

    .big-text{
        left: 10px;
        top: auto;
        bottom: 20px;
        transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        padding: 0 15px;
    }
    .big-text h1{
        font-size: 26px;
        margin-top: 10px;
    }
    .big-text p{
        font-size: 13px;
        padding-left: 15px;
    }
    .hero .owl-prev, 
    .hero .owl-next{
        top: auto;
        bottom: 20px;
    }
    .hero .owl-next{
        right: 20px;
    }
    .hero .owl-prev{
        right: 80px;
        left: auto;
    }

    .news-grid-item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .whats-new .columns{
        margin: 0;
    }
    .news-grid-item:nth-child(4){
        margin-top: 0;
    }
    .news-grid-item:nth-child(4) .ratio.ratio-16{
        padding-top: 100%;
    }
    .news-grid-item:nth-child(4) .big-text{
        width: calc(100% - 20px);
        left: 10px;
    }
    .news-grid-item:nth-child(4) .big-text p{
        display: none;
    }
    .news-grid-item:nth-child(4) .big-text h3{
        font-size: 28px;
    }

    section.quote-1{
        background-position-x: right;
    }
    section.quote-1 h2{
        font-size: 32px;
    }
    section.quote-1 .text{
        width: calc(100% - 20px);
        left: 10px;
        text-align: center;
    }
    .columns{
        margin-left: 0;
    }
    section.quote-1 .text .cta{
        float: none;
        display: inline-block;
    }

    .home-product .column.is-6{
        float: left;
        width: 100%;
    }

    .home-product .column.is-3 .product-box{
        width: calc((100% - 10px) / 2);
        float: left;
        margin-right: 10px;
    }
    .home-product .column.is-3 .product-box:nth-child(even){
        margin-right: 0;
    }

    .product-box{
        margin-bottom: 0;
    }
    .product-box .text h3{
        font-size: 14px;
    }

    .bt-more{
        margin-top: -54px;
        display: none;
    }

    .subs::before{
        width: 100%;
    }

    .subscribe .text{
        width: calc(100% - 20px);
        left: 10px;
    }

    .footer p{
        margin-bottom: 20px;
        padding-right: 0;
        font-size: 12px;
    }

    .sitemap{
        margin-bottom: 40px;
    }

    .about h3{
        margin-bottom: 20px;
    }
    .about .ico{
        width: 100%;
        float: left;
    }

    .about .column.is-6:first-child p{
        margin-bottom: 30px;
    }

    .breadcrumb li{
        max-width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .breadcrumb li a{
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    section.article,
    section.product-ct{
        padding-top: 30px;
    }
    .article-head h1{
        font-size: 28px;
    }

    .socmed.share li:first-child{
        width: 100%;
        margin-bottom: 10px;
    }

    .prod-slider{
        margin-bottom: 10px;
    }
    .prod-thumb .item{
        padding: 0 5px;
    }
    .product-ct .text h1{
        font-size: 28px;
        margin-bottom: 10px;
    }
    .product-ct .text h3{
        font-size: 20px;
    }
    .tab-bt li{
        font-size: 14px;
    }
    .tab-bt{
        white-space: nowrap;
        overflow-x: auto;
    }

    .grid-4 .prod-item{
        width: calc((100% - 10px) / 2);
        margin-right: 10px;
    }
    .grid-4 .prod-item:nth-child(even){
        margin-right: 0;
    }

    section.product-ct{
        padding-bottom: 0;
    }
    .prod-item .text h3{
        font-size: 16px;
    }

    .submenu{
        white-space: nowrap;
        overflow-x: auto;
    }

    section.news-hero{
        padding-top: 30px;
    }

    .news-slider .big-box figure.ratio-16{
        padding-top: 135%;
    }

    .big-box .big-text{
        left: 10px;
        width: calc(100% - 60px);
    }
    .big-box .big-text p{
        display: none;
    }

    .news-list .news-grid{
        margin-top: 20px;
    }

    .news-list figure{
        margin-bottom: 20px;
    }
    .news-list h3{
        font-size: 28px;
        margin-bottom: 10px;
    }
    .news-list h6{
        margin-bottom: 10px;
    }
    .news-list p{
        margin-bottom: 40px;
    }

    .title{
        border-left: 10px solid #1770C0;
    }

    section.product{
        padding-top: 30px;
    }

    .promo-ratio{
        padding-top: 100%;
    }

    .product-navbar .pagination{
        display: none;
    }

    .grid-3 .prod-item{
        width: calc((100% - 10px) / 2);
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .grid-3 .prod-item:nth-child(3n){
        margin-right: 10px;
    }
    .grid-3 .prod-item:nth-child(even){
        margin-right: 0;
    }

    .prod-list.list-view .prod-item .pic{
        width: 120px;
    }
    .prod-list.list-view .prod-item .text{
        width: calc(100% - 120px);
        padding-top: 5px;
    }
    .prod-list.list-view .prod-item .text h3{
        font-size: 18px;
    }

    .product-navbar{
        position: relative;
        text-align: right;
    }
    .product-navbar button,
    .product-navbar select{
        display: inline-block;
        float: none;
    }
    .product-navbar select{
        margin-right: 0;
    }
    .product-navbar button.view-bt{
        margin-right: 5px;
    }
    .product-navbar p{
        width: 100%;
        font-size: 12px;
    }

    .product-navbar .filter-bt{
        display: block;
    }

    .column.sidebar{
        position: fixed;
        top: 60px;
        left: -100%;
        height: calc(100vh - 60px);
        background: #fff;
        width: calc(100% - 60px);
        border-right: 1px solid #dedede;
        overflow-y: auto;
        z-index: 9;
    }
    .column.sidebar.show{
        left: 0;
    }

    .column.is-9{
        width: 100%;
    }
}









